.product-slider {
  -ms-overflow-style: none; /* IE and Edge */
  display: flex;
  gap: var(--size-3);
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  width: 100%;
  padding: var(--size-3);

  &::-webkit-scrollbar {
    // display: none;
  }
}
