section {
  gap: var(--size-8);
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.se-mere {
  align-items: center;
  display: flex;
  font-size: var(--font-size-2);
  gap: var(--size-3);

  &[href] {
    color: var(--text-2);
    &:visited {
      color: var(--text-2) !important;
    }
  }

  &:hover {
    font-weight: 700;
    text-decoration: none;
  }
}
