.hero {
  &-blob {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
  }

  &-banner {
    position: relative;
    overflow: hidden;
    min-height: 90vh;
  }

  h1 {
    text-align: end;
    position: absolute;
    right: var(--size-10);
    top: var(--size-12);
  }

  &-img- {
    &1 {
      aspect-ratio: 100 / 113;
      width: 100%;
      max-width: 45%;
    }

    &2 {
      aspect-ratio: 149 / 105;
      width: 100%;
      max-width: 65%;
      position: absolute;
      left: 35%;
      top: 40%;
    }
  }

  &-btn {
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding-block: var(--size-3);
    padding-inline: var(--size-5);
    position: absolute;
    bottom: 10%;
    left: 25%;
    cursor: pointer;
    color: var(--text-1) !important;
  }

  &-info {
    display: flex;
    gap: var(--size-5);
    justify-content: space-around;
    align-items: center;

    div {
      max-width: 50%;
      flex: 1 1 50%;
    }
    @media screen and (max-width: 800px) {
      justify-content: space-between;
      :nth-child(3) {
        display: none;
      }
    }
    @media screen and (max-width: 425px) {
      flex-direction: column;
      :nth-child(3) {
        display: flex;
      }
    }
  }
}

.om-tinc {
  display: flex;
  flex-direction: row;
  columns: 3;
  gap: var(--size-7);
  align-items: flex-start;

  article {
    flex: 1 0 1px;
    display: flex;
    gap: var(--size-3);
    flex-direction: column;
  }
  @media screen and (max-width: 950px) {
    columns: 1;
    flex-direction: column;
  }
}
