.om-tinc {
  display: flex;
  flex-direction: row;
  columns: 3;
  gap: var(--size-7);
  align-items: flex-start;

  article {
    flex: 1 0 1px;
  }
  @media screen and (max-width: 950px) {
    columns: 1;
    flex-direction: column;
  }
}
